body{
  margin: 0;
}

#secLand{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
img{
  width: 500px;
  height: 300px;
}
.land{
    background-color: grey;
    border: 1px solid black;
    padding: 2%;
}
