.meldingsBoks{
  display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 1%;
margin-top: 1%;
margin-right: 70%;
}

.sender{
  background-color: cornflowerblue;
  border-radius: 10%;
}

.melding{
  background-color: lightgray;
  border-radius: 10%;
}
